@model List<VulnManager.Models.Server>

@{
    ViewData["Title"] = "Server list";
}

<h1>Server list</h1>

<form method="get" asp-action="Create" class="inline-form">
    <input type="submit" value="Create" class="btn btn-dark" />
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Ip</th>
            <th scope="col">Last Shodan update</th>
            <th scope="col">Vulnerabilities</th>
            <th scope="col">Ports</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach(var server in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => server.Ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => server.LastShodanUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => server.Ports)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => server.Vulnerabilities)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id=server.Id })  |
                        @Html.ActionLink("Delete", "Delete", new { id=server.Id }) 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>